<h1>New repository</h1>

<%= error_messages_for :repository %>

<% form_for(@repository) do |f| %>
  <p>
    <b>User</b><br />
    <%= f.text_field :user_id %>
  </p>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Details</b><br />
    <%= f.text_area :details %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', repositories_path %>
