<p>
  <b>User:</b>
  <%=h @project.user_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>Details:</b>
  <%=h @project.details %>
</p>

<p>
  <b>Finished:</b>
  <%=h @project.finished %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
